@model DashOwl.Models.Incident

@{
    ViewBag.Title = "Incident Details";
}

<h2>Details</h2>

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaAssets)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Server URL</th>
                    <th>External URL</th>
                    <th>Creation Date</th>
                </tr>
                @foreach (var item in Model.MediaAssets)
                {
                    <tr>
                        <td>
                            @if (item.ServerURL != null && item.ServerURL != "")
                            {<img src="@Url.Content(item.ServerURL)" alt="" />}
                        </td>
                        <td>
                            @if (item.ExternalURL != null && item.ExternalURL!= "")
                            {<img src="@Url.Content(item.ExternalURL)" alt="">}
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
